##Investment Analysis Assigment.

In [135]:
#import the lib
import numpy as np
import pandas as pd

In [136]:
# read companies data
companies= pd.read_csv("./companies.txt",sep="\t",encoding = "ANSI", engine='python')

In [137]:
#read rounds2 data
rounds2= pd.read_csv("./rounds2.csv",encoding = "ANSI", sep = ",", engine='python')

In [138]:
companies.head(100)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/Organization/0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,/Organization/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,/Organization/1-2-3-Listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012
10,/Organization/1-4-All,1-4 All,NaN,Entertainment|Games|Software,operating,USA,NC,NC - Other,Connellys Springs,NaN
11,/Organization/1-618-Technology,1.618 Technology,http://www.Homeandcondogallery.com,Networking|Real Estate|Web Hosting,operating,USA,FL,Orlando,Orlando,07-12-2013
12,/Organization/1-800-Dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986
13,/Organization/1-800-Doctors,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984
14,/Organization/1-800-Publicrelations-Inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
15,/Organization/1-Mainstream,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
16,/Organization/1-Of-99,1 of 99,NaN,Entertainment|Games,operating,USA,CA,SF Bay Area,Mountain View,01-12-2014
17,/Organization/10-20-Media,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
18,/Organization/10-Minutes-With,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
19,/Organization/1000-Corks,1000 Corks,http://1000corks.com,Search,operating,USA,OR,"Portland, Oregon",Lake Oswego,01-01-2008
20,/Organization/1000-Markets,1000 Markets,http://www.1000markets.com,Art|E-Commerce|Marketplaces,acquired,USA,WA,Seattle,Seattle,01-01-2009
21,/Organization/1000Chi,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008
22,/Organization/1000Lookz,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008
23,/Organization/1000Memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
24,/Organization/1000Museums-Com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
25,/Organization/1001-Menus,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
26,/Organization/1001Pharmacies-Com,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012
27,/Organization/1006-Tv,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009
28,/Organization/100Du-Tv,100du.tv,http://www.100du.com,Hospitality,operating,CHN,23,Shanghai,Shanghai,NaN
29,/Organization/100E-Com,100e.com,http://www.100e.com,Education,operating,CHN,22,Beijing,Beijing,NaN
...,...,...,...,...,...,...,...,...,...,...
70,/Organization/1417,1417,http://1417power.com,Finance|Venture Capital,operating,USA,TN,Nashville,Brentwood,12-01-2012
71,/Organization/15Fen,15Fen,http://www.15fen.com/,NaN,operating,CHN,30,Guangzhou,Guangzhou,NaN
72,/Organization/15Five,15Five,http://15five.com,Software,operating,USA,CA,SF Bay Area,San Francisco,01-05-2011
73,/Organization/15Minutesnow,15MinutesNOW,http://15minutesnow.com,Games,operating,NaN,NaN,NaN,NaN,19-04-2011
74,/Organization/15Shopstop,15ShopStop,http://15shopstop.com,Fashion,operating,USA,CA,Los Angeles,Los Angeles,17-11-2014
75,/Organization/16-Mile-Solutions,16 Mile Solutions,NaN,Software,operating,USA,WA,Seattle,Seattle,01-01-2006
76,/Organization/169-St,169 ST.,http://www.junebugreview.com,Entertainment|Games,closed,USA,FL,Orlando,Lake Mary,15-05-2009
77,/Organization/16Lab-Inc-,16Lab Inc.,http://16lab.net,Design|Development Platforms|Wearables,operating,JPN,19,JPN - Other,Kamakura,24-04-2013
78,/Organization/16Wifi,16WiFi,NaN,Public Transportation,operating,CHN,22,Beijing,Beijing,01-01-2011
79,/Organization/17-Media,17 Media,http://17.media,NaN,operating,NaN,NaN,NaN,NaN,15-07-2015
80,/Organization/170-Systems,170 Systems,http://www.170systems.com,Software,acquired,USA,MA,Boston,Bedford,01-01-1990
81,/Organization/17Hats,17hats,https://www.17hats.com,Internet,operating,USA,CA,Los Angeles,Los Angeles,01-01-2014
82,/Organization/17U-Cn,17u.cn,http://www.17u.cn,Travel,operating,CHN,4,Shanghai,Suzhou,01-01-2004
83,/Organization/17Zuoye,17zuoye,http://www.17zuoye.com/,Education|Language Learning,operating,USA,VA,VA - Other,Shanghai,01-01-2007
84,/Organization/1800Diapers,1800Diapers,NaN,Baby Accessories|Kids,operating,NaN,NaN,NaN,NaN,NaN
85,/Organization/180Solutions,180Solutions,NaN,Advertising|Advertising Platforms|Promotional,closed,USA,WA,Seattle,Bellevue,NaN
86,/Organization/1871,1871,http://www.1871.com,Designers|Internet|Non Profit|Startups,operating,USA,IL,Chicago,Chicago,NaN
87,/Organization/19Pay,19pay,http://www.19pay.com.cn,Finance|FinTech,operating,CHN,22,Beijing,Beijing,01-01-2005
88,/Organization/1Bib,1bib,http://www.1bib.com,Cars|Curated Web,closed,CHN,30,Guangzhou,Guangzhou,01-01-2006
89,/Organization/1Bog,One Block Off the Grid (1BOG),http://1bog.org,Clean Technology|Residential Solar,closed,USA,CA,SF Bay Area,San Francisco,01-11-2008
90,/Organization/1C-Company,1C Company,http://1c.ru/eng,Games|Software|Video Games,closed,RUS,48,Moscow,Moscow,01-01-1991
91,/Organization/1Calendar,1calendar,http://1calendar.com,Advertising|Education|Internet|Mobile,operating,DNK,17,Copenhagen,Copenhagen,19-01-2009
92,/Organization/1Cast,1Cast,http://www.1cast.com,Content|Lifestyle|News|Video,closed,USA,WA,Seattle,Kirkland,01-06-2006
93,/Organization/1Click,1CLICK,http://1click.io,Chat|Mobile,acquired,IND,19,Bangalore,Bangalore,01-11-2012
94,/Organization/1Cloudstar-Asia,1CloudStar,http://www.1CloudStar.com,Cloud Computing|Content|Digital Media|Enterpri...,operating,SGP,NaN,Singapore,Singapore,01-01-2012
95,/Organization/1Commmedical,1CommMedical,http://1commmedical.com,Health Care|Insurance|Medical,operating,USA,IA,Des Moines,Ankeny,01-01-2013
96,/Organization/1D4-Pty,1d4 Pty,http://www.immortaloutdoors.com,Geospatial|Maps|Outdoors,operating,NOR,2,NaN,NaN,NaN
97,/Organization/1Day1Song,1Day1Song,http://1day1song.com/,Music Services,operating,KOR,11,Seoul,Seoul,01-12-2012
98,/Organization/1Daylater,1DayLater,http://1daylater.com,Curated Web|Tracking,closed,AUS,2,Sydney,Newcastle,26-08-2009
99,/Organization/1Daymakeover,1DayMakeover,http://www.1daymakeover.com,Cosmetics|E-Commerce|Fashion|Lifestyle|Persona...,closed,USA,CA,"Orange County, California",Santa Ana,30-06-2008

In [139]:
#encode and decode the values of permalink, name column in companies
companies['permalink'] = companies.permalink.str.encode('utf-8').str.decode('ascii','ignore')
companies['name'] = companies.name.str.encode('utf-8').str.decode('ascii','ignore')
companies.head(100)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/Organization/0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,/Organization/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,/Organization/1-2-3-Listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012
10,/Organization/1-4-All,1-4 All,NaN,Entertainment|Games|Software,operating,USA,NC,NC - Other,Connellys Springs,NaN
11,/Organization/1-618-Technology,1.618 Technology,http://www.Homeandcondogallery.com,Networking|Real Estate|Web Hosting,operating,USA,FL,Orlando,Orlando,07-12-2013
12,/Organization/1-800-Dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986
13,/Organization/1-800-Doctors,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984
14,/Organization/1-800-Publicrelations-Inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
15,/Organization/1-Mainstream,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
16,/Organization/1-Of-99,1 of 99,NaN,Entertainment|Games,operating,USA,CA,SF Bay Area,Mountain View,01-12-2014
17,/Organization/10-20-Media,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
18,/Organization/10-Minutes-With,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
19,/Organization/1000-Corks,1000 Corks,http://1000corks.com,Search,operating,USA,OR,"Portland, Oregon",Lake Oswego,01-01-2008
20,/Organization/1000-Markets,1000 Markets,http://www.1000markets.com,Art|E-Commerce|Marketplaces,acquired,USA,WA,Seattle,Seattle,01-01-2009
21,/Organization/1000Chi,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008
22,/Organization/1000Lookz,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008
23,/Organization/1000Memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
24,/Organization/1000Museums-Com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
25,/Organization/1001-Menus,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
26,/Organization/1001Pharmacies-Com,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012
27,/Organization/1006-Tv,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009
28,/Organization/100Du-Tv,100du.tv,http://www.100du.com,Hospitality,operating,CHN,23,Shanghai,Shanghai,NaN
29,/Organization/100E-Com,100e.com,http://www.100e.com,Education,operating,CHN,22,Beijing,Beijing,NaN
...,...,...,...,...,...,...,...,...,...,...
70,/Organization/1417,1417,http://1417power.com,Finance|Venture Capital,operating,USA,TN,Nashville,Brentwood,12-01-2012
71,/Organization/15Fen,15Fen,http://www.15fen.com/,NaN,operating,CHN,30,Guangzhou,Guangzhou,NaN
72,/Organization/15Five,15Five,http://15five.com,Software,operating,USA,CA,SF Bay Area,San Francisco,01-05-2011
73,/Organization/15Minutesnow,15MinutesNOW,http://15minutesnow.com,Games,operating,NaN,NaN,NaN,NaN,19-04-2011
74,/Organization/15Shopstop,15ShopStop,http://15shopstop.com,Fashion,operating,USA,CA,Los Angeles,Los Angeles,17-11-2014
75,/Organization/16-Mile-Solutions,16 Mile Solutions,NaN,Software,operating,USA,WA,Seattle,Seattle,01-01-2006
76,/Organization/169-St,169 ST.,http://www.junebugreview.com,Entertainment|Games,closed,USA,FL,Orlando,Lake Mary,15-05-2009
77,/Organization/16Lab-Inc-,16Lab Inc.,http://16lab.net,Design|Development Platforms|Wearables,operating,JPN,19,JPN - Other,Kamakura,24-04-2013
78,/Organization/16Wifi,16WiFi,NaN,Public Transportation,operating,CHN,22,Beijing,Beijing,01-01-2011
79,/Organization/17-Media,17 Media,http://17.media,NaN,operating,NaN,NaN,NaN,NaN,15-07-2015
80,/Organization/170-Systems,170 Systems,http://www.170systems.com,Software,acquired,USA,MA,Boston,Bedford,01-01-1990
81,/Organization/17Hats,17hats,https://www.17hats.com,Internet,operating,USA,CA,Los Angeles,Los Angeles,01-01-2014
82,/Organization/17U-Cn,17u.cn,http://www.17u.cn,Travel,operating,CHN,4,Shanghai,Suzhou,01-01-2004
83,/Organization/17Zuoye,17zuoye,http://www.17zuoye.com/,Education|Language Learning,operating,USA,VA,VA - Other,Shanghai,01-01-2007
84,/Organization/1800Diapers,1800Diapers,NaN,Baby Accessories|Kids,operating,NaN,NaN,NaN,NaN,NaN
85,/Organization/180Solutions,180Solutions,NaN,Advertising|Advertising Platforms|Promotional,closed,USA,WA,Seattle,Bellevue,NaN
86,/Organization/1871,1871,http://www.1871.com,Designers|Internet|Non Profit|Startups,operating,USA,IL,Chicago,Chicago,NaN
87,/Organization/19Pay,19pay,http://www.19pay.com.cn,Finance|FinTech,operating,CHN,22,Beijing,Beijing,01-01-2005
88,/Organization/1Bib,1bib,http://www.1bib.com,Cars|Curated Web,closed,CHN,30,Guangzhou,Guangzhou,01-01-2006
89,/Organization/1Bog,One Block Off the Grid (1BOG),http://1bog.org,Clean Technology|Residential Solar,closed,USA,CA,SF Bay Area,San Francisco,01-11-2008
90,/Organization/1C-Company,1C Company,http://1c.ru/eng,Games|Software|Video Games,closed,RUS,48,Moscow,Moscow,01-01-1991
91,/Organization/1Calendar,1calendar,http://1calendar.com,Advertising|Education|Internet|Mobile,operating,DNK,17,Copenhagen,Copenhagen,19-01-2009
92,/Organization/1Cast,1Cast,http://www.1cast.com,Content|Lifestyle|News|Video,closed,USA,WA,Seattle,Kirkland,01-06-2006
93,/Organization/1Click,1CLICK,http://1click.io,Chat|Mobile,acquired,IND,19,Bangalore,Bangalore,01-11-2012
94,/Organization/1Cloudstar-Asia,1CloudStar,http://www.1CloudStar.com,Cloud Computing|Content|Digital Media|Enterpri...,operating,SGP,NaN,Singapore,Singapore,01-01-2012
95,/Organization/1Commmedical,1CommMedical,http://1commmedical.com,Health Care|Insurance|Medical,operating,USA,IA,Des Moines,Ankeny,01-01-2013
96,/Organization/1D4-Pty,1d4 Pty,http://www.immortaloutdoors.com,Geospatial|Maps|Outdoors,operating,NOR,2,NaN,NaN,NaN
97,/Organization/1Day1Song,1Day1Song,http://1day1song.com/,Music Services,operating,KOR,11,Seoul,Seoul,01-12-2012
98,/Organization/1Daylater,1DayLater,http://1daylater.com,Curated Web|Tracking,closed,AUS,2,Sydney,Newcastle,26-08-2009
99,/Organization/1Daymakeover,1DayMakeover,http://www.1daymakeover.com,Cosmetics|E-Commerce|Fashion|Lifestyle|Persona...,closed,USA,CA,"Orange County, California",Santa Ana,30-06-2008

In [140]:
#to check the columns with null values
companies.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [141]:
#to check null values along the rows.
companies.isnull().sum(axis=1)

0        1
1        0
2        5
3        0
4        0
5        2
6        0
7        0
8        0
9        0
10       2
11       0
12       0
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       4
22       0
23       0
24       0
25       0
26       0
27       0
28       1
29       1
        ..
66338    0
66339    0
66340    0
66341    0
66342    0
66343    0
66344    0
66345    0
66346    0
66347    1
66348    0
66349    0
66350    0
66351    1
66352    0
66353    0
66354    0
66355    0
66356    0
66357    0
66358    0
66359    1
66360    1
66361    0
66362    0
66363    1
66364    0
66365    5
66366    0
66367    5
Length: 66368, dtype: int64

In [142]:
#companies with 5 or more null values in each rows
companies[companies.isnull().sum(axis=1) >= 5]

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
45,/Organization/115-Network-Disks,115 network disks,http://www.115.com/,EdTech|Education,operating,NaN,NaN,NaN,NaN,NaN
79,/Organization/17-Media,17 Media,http://17.media,NaN,operating,NaN,NaN,NaN,NaN,15-07-2015
84,/Organization/1800Diapers,1800Diapers,NaN,Baby Accessories|Kids,operating,NaN,NaN,NaN,NaN,NaN
122,/Organization/2-Ladoshki,2 Ladoshki,NaN,NaN,operating,NaN,NaN,NaN,NaN,NaN
150,/Organization/24-Quan,24 Quan,NaN,Real Estate,operating,NaN,NaN,NaN,NaN,NaN
160,/Organization/24Med-Sp,24med Sp,NaN,NaN,closed,NaN,NaN,NaN,NaN,NaN
171,/Organization/29West,29West,http://www.informatica.com/us/products/messagi...,NaN,acquired,NaN,NaN,NaN,NaN,NaN
188,/Organization/2Mee,2mee,NaN,Content|Software|Sports,closed,NaN,NaN,NaN,NaN,NaN
203,/Organization/2Web-Technologies,2Web Technologies,NaN,Software,acquired,NaN,NaN,NaN,NaN,NaN
213,/Organization/30Secondstofly-Claire,30SecondsToFly - Claire,http://www.30secondstofly.com,NaN,closed,NaN,NaN,NaN,NaN,15-04-2015
232,/Organization/365-Good-Teacher,365 Good Teacher,http://www.365hls.com/,Finance,operating,NaN,NaN,NaN,NaN,NaN
258,/Organization/3D-Forms,3D Forms,NaN,NaN,operating,NaN,NaN,NaN,NaN,NaN
263,/Organization/3D-Intelligent-Pathological-Medi...,3D Intelligent Pathological Medical Image Solu...,NaN,Alumni,operating,NaN,NaN,NaN,NaN,NaN
267,/Organization/3D-Simo-2,3D simo,http://3dsimo.com,NaN,closed,NaN,NaN,NaN,NaN,NaN
281,/Organization/3Divaz-2,3DIVAZ,http://www.3divaz.ch/Home,NaN,closed,NaN,NaN,NaN,NaN,01-07-2014
295,/Organization/3Dvista,3DVista,http://www.3dvista.com,Curated Web,operating,NaN,NaN,NaN,NaN,NaN
303,/Organization/3Is,3IS,http://www.3isinc.com/,NaN,operating,NaN,NaN,NaN,NaN,NaN
315,/Organization/3Pointdata,3PointData,http://3pointdata.com,NaN,operating,NaN,NaN,NaN,NaN,01-01-2008
337,/Organization/4-Antibody-Ag,4-Antibody AG,NaN,NaN,operating,NaN,NaN,NaN,NaN,NaN
342,/Organization/404-Found,404 Found!,NaN,Enterprise Software,operating,NaN,NaN,NaN,NaN,01-01-1997
368,/Organization/4Energy,4energy,NaN,NaN,operating,NaN,NaN,NaN,NaN,NaN
370,/Organization/4Front-Security,4Front Security,http://www.4frontsecurity.com,NaN,closed,NaN,NaN,NaN,NaN,NaN
374,/Organization/4Med-Centra-Medyczne,4Med Centra Medyczne,NaN,NaN,closed,NaN,NaN,NaN,NaN,NaN
377,/Organization/4Plat,4PLAT,http://www.4plat.com,Games,operating,NaN,NaN,NaN,NaN,NaN
383,/Organization/4Screens,4screens,http://4screens.net/,NaN,operating,NaN,NaN,NaN,NaN,NaN
386,/Organization/4Tell-Solutions,4tell Solutions,http://www.4tellsolutions.com/,Financial Services|Information Technology|Opti...,operating,NaN,NaN,NaN,NaN,NaN
389,/Organization/4Thetable,4theTable,http://www.4thetable.com,NaN,operating,NaN,NaN,NaN,NaN,01-06-2014
411,/Organization/51-Auto,51 Auto,http://www.51auto.cn,Automotive,closed,NaN,NaN,NaN,NaN,NaN
414,/Organization/51-Qiangzuo,51 Qiangzuo,http://www.51qiangzuo.com/,NaN,operating,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
65716,/Organization/Zedira-Gmbh,Zedira GmbH,http://zedira.com/,NaN,operating,NaN,NaN,NaN,NaN,NaN
65743,/Organization/Zeis-Excelsa,Zeis Excelsa,NaN,Fashion,operating,NaN,NaN,NaN,NaN,NaN
65745,/Organization/Zelena-Posta-2,Zelena Posta,https://www.zelenaposta.sk/,NaN,closed,NaN,NaN,NaN,NaN,01-08-2013
65748,/Organization/Zelnas,Zelnas,http://zelnas.com/,3D|Electronics|Nanotechnology,closed,NaN,NaN,NaN,NaN,NaN
65757,/Organization/Zenbox,Zenbox,http://www.zenboxapp.com,Bitcoin|Distribution|Finance Technology|FinTech,operating,NaN,NaN,NaN,NaN,NaN
65774,/Organization/Zenedy,Zenedy,http://zenedy.com,NaN,operating,NaN,NaN,NaN,NaN,NaN
65817,/Organization/Zenter,Zenter,NaN,Curated Web,acquired,NaN,NaN,NaN,NaN,NaN
65845,/Organization/Zepp,Zepp,NaN,Consumer Electronics|Sports|Technology,operating,NaN,NaN,NaN,NaN,NaN
65878,/Organization/Zeroplus-Com,ZeroPlus.com,http://www.zeroplus.com,Customer Service|Services|VoIP,closed,NaN,NaN,NaN,NaN,NaN
65950,/Organization/Zhongyou-Group,Zhongyou Group,NaN,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2004
65965,/Organization/Ziebel,Ziebel,http://ziebel.com,Clean Technology,operating,NaN,NaN,NaN,NaN,NaN
65991,/Organization/Zikher-Inc-,Zikher Inc.,NaN,Communications Infrastructure|Data Security|In...,operating,NaN,NaN,NaN,NaN,03-01-2015
66000,/Organization/Zilker-Motors,Zilker Motors,NaN,NaN,operating,NaN,NaN,NaN,NaN,NaN
66007,/Organization/Zim-Plant-Technology-Gmbh,ZIM Plant Technology GmbH,http://yara.zim-plant-technology.com/de/,NaN,acquired,NaN,NaN,NaN,NaN,NaN
66009,/Organization/Zimi,Zimi,http://www.zmifi.com/,Mobile|Mobile Devices|Online Shopping,closed,NaN,NaN,NaN,NaN,NaN
66029,/Organization/Zingbox-2,ZingBox,NaN,Services|Solar,operating,NaN,NaN,NaN,NaN,NaN
66053,/Organization/Zip-Trade-Technologies,Zip Trade Technologies,NaN,NaN,closed,NaN,NaN,NaN,NaN,NaN
66081,/Organization/Zippy-Com-Au-Pty-Ltd,Zippy.com.au Pty LTD,NaN,Coupons|Discounts|Gift Card|QR Codes,acquired,NaN,NaN,NaN,NaN,NaN
66110,/Organization/Zjdg-Cn,Zjdg.cn,http://www.zjdg.cn,E-Commerce,operating,NaN,NaN,NaN,NaN,NaN
66112,/Organization/Zkey-Com,Zkey.com,http://zkey.com/,NaN,closed,NaN,NaN,NaN,NaN,NaN
66115,/Organization/Zlango,Zlango,http://www.zlango.com,NaN,closed,NaN,NaN,NaN,NaN,NaN
66120,/Organization/Zlote-Mysli,Zlote Mysli,http://www.zlotemysli.pl/,NaN,operating,NaN,NaN,NaN,NaN,NaN
66125,/Organization/Zmqnw-Com-Cn,Zmqnw.com.cn,http://www.zmqnw.com.cn,Mobile,operating,NaN,NaN,NaN,NaN,NaN
66243,/Organization/Zoweetv,ZoweeTV,http://www.zoweetv.com,Games,operating,NaN,NaN,NaN,NaN,NaN
66259,/Organization/Zte9-Corporation,ZTE9 Corporation,http://zte9.com/,Mobile,operating,NaN,NaN,NaN,NaN,NaN
66292,/Organization/Zumodrive,zumodrive,NaN,Cloud Computing|Digital Media|File Sharing,operating,NaN,NaN,NaN,NaN,NaN
66298,/Organization/Zuoyebang,Zuoyebang,http://zuoye.baidu.com/,NaN,operating,NaN,NaN,NaN,NaN,NaN
66333,/Organization/Zyfin,Zyfin,http://www.zyfin.com/,Finance,operating,NaN,NaN,NaN,NaN,NaN
66365,/Organization/Eron,ERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66367,/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetl...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [143]:
len(companies[companies.isnull().sum(axis=1) >= 5].index)

3998

In [144]:
#percentage of null values
100* (len(companies[companies.isnull().sum(axis=1) >= 5].index)/ len(companies.index))

6.023987463837995

In [145]:
#drop values with 5 null values in each row
companies = companies[companies.isnull().sum(axis=1) < 5]

In [146]:
#column wise null percentage in companies dataframe
round(100*(companies.isnull().sum()/len(companies.index)),2)

permalink         0.00
name              0.00
homepage_url      5.80
category_list     2.54
status            0.00
country_code      4.82
state_code        7.29
region            6.46
city              6.46
founded_at       19.12
dtype: float64

In [147]:
#dropping columns from companies dataframe
companies = companies.drop(['state_code','region','city','founded_at'],axis = 1)

In [148]:
#reading rounds2 data
rounds2.head(100)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0
11,/ORGANIZATION/0XDATA,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,1700000.0
12,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0
13,/ORGANIZATION/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,NaN,05-02-2014,150000.0
14,/organization/1,/funding-round/5de6d8828aef7d925d97918d15727670,undisclosed,NaN,05-02-2013,NaN
15,/ORGANIZATION/1,/funding-round/e82464f22241715dd1a6c77241055ed1,seed,NaN,20-07-2011,1000050.0
16,/organization/1-2-3-listo,/funding-round/6de4609e894495105bc791ed64361288,seed,NaN,18-02-2013,40000.0
17,/ORGANIZATION/1-4-ALL,/funding-round/e97a192e13ea0ee3c4f71136b4f3ec16,equity_crowdfunding,NaN,21-04-2013,NaN
18,/organization/1-618-technology,/funding-round/83b8f4c7d37ecef5e001a5e953bf461a,equity_crowdfunding,NaN,22-01-2014,NaN
19,/ORGANIZATION/1-800-DENTIST,/funding-round/5274aacc211163fc7c86539ce94bbacc,undisclosed,NaN,19-08-2010,NaN
20,/organization/1-800-doctors,/funding-round/9eb8c7790a0c200d79e75785d1c4aa12,convertible_note,NaN,02-03-2011,1750000.0
21,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.0
22,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0
23,/ORGANIZATION/1-OF-99,/funding-round/b5c811f561cfb5701cd5b1762120bbc3,convertible_note,NaN,13-12-2014,100000.0
24,/organization/10-20-media,/funding-round/436874dc54b54460f99f44c06e50990a,debt_financing,NaN,11-01-2011,800000.0
25,/ORGANIZATION/10-20-MEDIA,/funding-round/8025ee9c11a586eac4a234ddec7beb30,debt_financing,NaN,18-06-2009,500000.0
26,/organization/10-20-media,/funding-round/a884bf8326b9fd59789c0f74a28dbc3b,debt_financing,NaN,28-12-2011,500000.0
27,/ORGANIZATION/10-20-MEDIA,/funding-round/d205f5416ce55e126beda3ed2bf2c2cd,debt_financing,NaN,30-03-2010,250000.0
28,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0
29,/ORGANIZATION/10-MINUTES-WITH,/funding-round/f245a74b4c54610ae843e17bdf4d1113,seed,NaN,01-01-2013,400000.0
...,...,...,...,...,...,...
70,/organization/10six,/funding-round/e7e13a354af346863c51e678c63590c1,seed,NaN,01-02-2014,NaN
71,/ORGANIZATION/10TRACKS-2,/funding-round/74606b480fe509973a3d72c9017876ca,venture,NaN,03-02-2014,NaN
72,/organization/10tracks-2,/funding-round/e31e2474786f930fd72e292ec34e9126,seed,NaN,31-07-2013,NaN
73,/ORGANIZATION/10X-GENOMICS,/funding-round/563923487783bdeb5d0b7872f3d6b99a,venture,B,12-01-2015,55000000.0
74,/organization/10x-technologies,/funding-round/39c1441d5098875a925577d0f2ad3904,venture,B,12-01-2015,550000.0
75,/ORGANIZATION/10X-TECHNOLOGIES,/funding-round/9a373f156949c1ba80fecfad8c29dc9e,debt_financing,NaN,07-11-2012,3000000.0
76,/organization/10x10-room,/funding-round/f9b24081fc172ead29a9d564c60b6cdc,debt_financing,NaN,12-10-2011,77500.0
77,/ORGANIZATION/10Ã‚Â°NORTH,/funding-round/b41ff7de932f8b6e5bbeed3966c0ed6a,equity_crowdfunding,NaN,12-08-2014,NaN
78,/organization/11-health,/funding-round/064e6e706d1b2928a064c1dde49f05d7,seed,NaN,20-08-2015,1958909.0
79,/ORGANIZATION/115-NETWORK-DISKS,/funding-round/0966b3b472f4b912e167abaf8d06f77d,angel,NaN,01-11-2011,NaN
80,/organization/117go,/funding-round/bbbda407fa8638d944ecfdd042230c4b,venture,B,28-04-2014,20000000.0
81,/ORGANIZATION/11I-SOLUTIONS,/funding-round/e07501ed6997290b1bef59406bc300a1,venture,NaN,22-03-2011,1800000.0
82,/organization/12-labs,/funding-round/958803df0c565d11afba52347f7efcde,seed,NaN,26-11-2014,935000.0
83,/ORGANIZATION/12-STAR-SURVIVAL,/funding-round/9c08e07cfd6bdacade795671e09b86e6,equity_crowdfunding,NaN,17-10-2013,NaN
84,/organization/120-sports,/funding-round/55642880265ba4cc73eda4abcac4f8da,undisclosed,NaN,20-02-2014,NaN
85,/ORGANIZATION/121-RENTALS,/funding-round/18b148f4b89339b28b09ef132acb1ade,debt_financing,NaN,03-09-2014,NaN
86,/organization/121cast,/funding-round/4ff51088be233a23c013689d680f04e5,seed,NaN,13-11-2012,250000.0
87,/ORGANIZATION/121CAST,/funding-round/5706e500d4d79b9817de5516456402f2,seed,NaN,30-06-2013,170000.0
88,/organization/121cast,/funding-round/d23f44687b25b1b1aa30a38cb79a4edb,grant,NaN,01-05-2012,20000.0
89,/ORGANIZATION/121NEXUS,/funding-round/04d96071133d32201d4e731c579240ac,grant,NaN,21-11-2013,45000.0
90,/organization/121nexus,/funding-round/2b62b0e9da308b196841e958b0ca5318,grant,NaN,01-01-2014,30000.0
91,/ORGANIZATION/121NEXUS,/funding-round/7cdbef123afa3f9a41d080147158edc0,grant,NaN,01-07-2013,150000.0
92,/organization/121nexus,/funding-round/964bf36d0f84b63c073afb4ef68380d6,seed,NaN,06-02-2012,14000.0
93,/ORGANIZATION/121NEXUS,/funding-round/9df05fa02b09752fcd0ecbf4e167cbef,angel,NaN,22-01-2013,500000.0
94,/organization/121nexus,/funding-round/fac223682361b8f57d004009f31191fc,seed,NaN,20-04-2012,55000.0
95,/ORGANIZATION/1234ENTER,/funding-round/6343322ed785252d4c5ada444fa7d8e4,venture,NaN,22-11-2013,150267.0
96,/organization/1234enter,/funding-round/ee6f9dea78c9a0697a500098a854564d,seed,NaN,01-09-2012,500000.0
97,/ORGANIZATION/123CONTACTFORM,/funding-round/af7382f8e3d806986796029388cb1b7f,venture,NaN,16-06-2015,1000000.0
98,/organization/123contactform,/funding-round/b678dec4e0df10e2518a81215f8fd843,angel,NaN,01-01-2010,NaN
99,/ORGANIZATION/123FENG-COM,/funding-round/9d83084d87dc63a309c9a6fe9bf59d1b,venture,A,27-10-2015,13000000.0

In [149]:
# encoding and decoding of company_permalink column in rounds2 
rounds2['company_permalink'] = rounds2.company_permalink.str.encode('utf-8').str.decode('ascii','ignore')

In [150]:
#null values per column in rounds2
rounds2.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [151]:
#dropping column from rounds2 dataframe
rounds2 = rounds2.drop(['funding_round_code','funded_at'],axis = 1)

In [152]:
rounds2.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
raised_amount_usd          19990
dtype: int64

In [153]:
#to change the column values of permalink to upper case
companies['permalink'] = companies.loc[:,'permalink'].apply(lambda row: row.upper())

In [154]:
#to change the column values of company_permalink to upper case
rounds2["company_permalink"] = rounds2.loc[:,"company_permalink"].apply(lambda row: row.upper())

In [155]:
#to find How many unique companies are present in companies?
companies = companies.drop_duplicates()
len(companies['permalink'].unique().tolist())

62370

In [156]:
#to find How many unique companies are present in the rounds2 file?
rounds2 = rounds2.drop_duplicates()
len(rounds2['company_permalink'].unique().tolist())

66368

In [157]:
#calculating common values from both dataframe
len(set(companies.permalink).difference(rounds2.company_permalink))

0

In [162]:
#Merge the two data frames so that all Â variables (columns) Â in the companies frame are added 
#to the rounds2 data frame.
#Name the merged frame master_frame.
master_frame = pd.merge(rounds2,companies, right_on = 'permalink',left_on= 'company_permalink',how ='left')

In [163]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,NaN,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN

In [164]:
#to print the master_frame details
print(master_frame.shape)
print(master_frame.info())

(114949, 10)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 10 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
raised_amount_usd          94959 non-null float64
permalink                  110384 non-null object
name                       110383 non-null object
homepage_url               105878 non-null object
category_list              108666 non-null object
status                     110384 non-null object
country_code               106216 non-null object
dtypes: float64(1), object(9)
memory usage: 9.6+ MB
None

In [165]:
#dropping rows from raised_amount_usd of null values
master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]

In [167]:
#calculating funding round type in million dollar from master_frame
funding_by_round = master_frame.pivot_table(values = 'raised_amount_usd',index = 'funding_round_type',aggfunc = 'mean')
funding_by_round['raised_amount_usd'] = funding_by_round['raised_amount_usd'].apply(lambda x:(x/1000000))
funding_by_round['raised_amount_usd'] = funding_by_round['raised_amount_usd'].apply(lambda x:round(x,2))
funding_by_round  = funding_by_round.loc[['venture','angel','seed','private_equity']].sort_values(by= 'raised_amount_usd',ascending = False)
funding_by_round.head(10)

                    raised_amount_usd
funding_round_type
private_equity                  73.31
venture                         11.75
angel                            0.96
seed                             0.72

In [168]:
#calculating top9 countries of funding type venture
top9 = master_frame.loc[(master_frame['funding_round_type'] == 'venture')]
top9 = top9.pivot_table(values = 'raised_amount_usd',index = 'country_code',aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)[:9]
top9 = top9.apply(lambda x:(x/1000000))
top9 = top9.apply(lambda x:round(x,2))
top9

              raised_amount_usd
country_code
USA                   422506.17
CHN                    39810.36
GBR                    20181.19
IND                    14339.36
CAN                     9583.33
FRA                     7259.54
ISR                     6896.71
DEU                     6346.96
JPN                     3363.68

In [45]:
#referring wiki page -https://en.wikipedia.org/wiki/List_of_territorial_entities_where_English_is_an_official_language
#below three values can be retrived
#Top English speaking country - United states
#Second English speaking country- United Kingdom
#Third English speaking country- India

In [169]:
import pandas as pd
#read data from mapping file
mapping = pd.read_csv("./mapping.csv", engine='python')

In [171]:
#removing null value from mapping file of col category list and in lower case
mapping = mapping[mapping['category_list'].notnull()]
mapping['category_list'] = mapping['category_list'].str.lower()
mapping.head(20)

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
1,3d,0,0,0,0,0,1,0,0,0
2,3d printing,0,0,0,0,0,1,0,0,0
3,3d technology,0,0,0,0,0,1,0,0,0
4,accounting,0,0,0,0,0,0,0,0,1
5,active lifestyle,0,0,0,0,1,0,0,0,0
6,ad targeting,0,0,0,0,0,0,0,0,1
7,advanced materials,0,0,0,0,0,1,0,0,0
8,adventure travel,1,0,0,0,0,0,0,0,0
9,advertising,0,0,0,0,0,0,0,0,1
10,advertising exchanges,0,0,0,0,0,0,0,0,1
11,advertising networks,0,0,0,0,0,0,0,0,1
12,advertising platforms,0,0,0,0,0,0,0,0,1
13,advice,0,0,0,0,0,0,0,1,0
14,aerospace,1,0,0,0,0,0,0,0,0
15,agriculture,0,0,0,0,0,1,0,0,0
16,air pollution control,0,0,1,0,0,0,0,0,0
17,algorithms,0,0,0,0,0,0,0,1,0
18,all markets,0,0,0,0,0,0,0,1,0
19,all students,0,0,0,0,0,0,0,1,0
20,alternative medicine,0,0,0,0,1,0,0,0,0

In [174]:
#adding new column primary_sector to lower case for master_frame
master_frame['primary_sector'] = master_frame['category_list'].str.split('|',1).str[0]
master_frame['primary_sector'] = master_frame['primary_sector'].str.lower()
master_frame.head(20)

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,primary_sector
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,media
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,application platforms
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,curated web
6,/ORGANIZATION/01GAMES-TECHNOLOGY,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,41250.0,/ORGANIZATION/01GAMES-TECHNOLOGY,01Games Technology,http://www.01games.hk/,Games,operating,HKG,games
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,43360.0,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,biotechnology
8,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,719491.0,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,biotechnology
9,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,3000000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,analytics
10,/ORGANIZATION/0XDATA,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,20000000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,analytics
11,/ORGANIZATION/0XDATA,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,1700000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,analytics
12,/ORGANIZATION/0XDATA,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,analytics
13,/ORGANIZATION/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,150000.0,/ORGANIZATION/1,One Inc.,http://whatis1.com,Mobile,operating,USA,mobile
15,/ORGANIZATION/1,/funding-round/e82464f22241715dd1a6c77241055ed1,seed,1000050.0,/ORGANIZATION/1,One Inc.,http://whatis1.com,Mobile,operating,USA,mobile
16,/ORGANIZATION/1-2-3-LISTO,/funding-round/6de4609e894495105bc791ed64361288,seed,40000.0,/ORGANIZATION/1-2-3-LISTO,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,e-commerce
20,/ORGANIZATION/1-800-DOCTORS,/funding-round/9eb8c7790a0c200d79e75785d1c4aa12,convertible_note,1750000.0,/ORGANIZATION/1-800-DOCTORS,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,health and wellness
21,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,6000000.0,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,internet marketing
22,/ORGANIZATION/1-MAINSTREAM,/funding-round/b952cbaf401f310927430c97b68162ea,venture,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,apps
23,/ORGANIZATION/1-OF-99,/funding-round/b5c811f561cfb5701cd5b1762120bbc3,convertible_note,100000.0,/ORGANIZATION/1-OF-99,1 of 99,NaN,Entertainment|Games,operating,USA,entertainment
24,/ORGANIZATION/10-20-MEDIA,/funding-round/436874dc54b54460f99f44c06e50990a,debt_financing,800000.0,/ORGANIZATION/10-20-MEDIA,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,e-commerce
25,/ORGANIZATION/10-20-MEDIA,/funding-round/8025ee9c11a586eac4a234ddec7beb30,debt_financing,500000.0,/ORGANIZATION/10-20-MEDIA,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,e-commerce

In [173]:
#extracting and mapping the main sector and primary sector from mapping
melt_data = pd.melt(mapping,id_vars = ['category_list'],var_name = 'Sectors',value_name = 'Main_sectors')

In [175]:
#mapping the master_frame and mappings
main_sector = melt_data.loc[melt_data['Main_sectors']!=0]
master_frame['main_sector'] = master_frame['primary_sector'].map(main_sector.set_index('category_list').Sectors)
master_frame.head(10)

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,primary_sector,main_sector
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,media,Entertainment
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,application platforms,"News, Search and Messaging"
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,curated web,"News, Search and Messaging"
6,/ORGANIZATION/01GAMES-TECHNOLOGY,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,41250.0,/ORGANIZATION/01GAMES-TECHNOLOGY,01Games Technology,http://www.01games.hk/,Games,operating,HKG,games,Entertainment
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,43360.0,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,biotechnology,Cleantech / Semiconductors
8,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,719491.0,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,biotechnology,Cleantech / Semiconductors
9,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,3000000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,analytics,"Social, Finance, Analytics, Advertising"
10,/ORGANIZATION/0XDATA,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,20000000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,analytics,"Social, Finance, Analytics, Advertising"
11,/ORGANIZATION/0XDATA,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,1700000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,analytics,"Social, Finance, Analytics, Advertising"

In [178]:
#Sector-wise Investment Analysis
#creating a new data frame D1 for Top 1 country- USA
D1 = master_frame.loc[(master_frame['funding_round_type'] == 'venture') & (master_frame['country_code'] == 'USA') &(master_frame['raised_amount_usd'] >= 5000000) & (master_frame['raised_amount_usd'] <= 15000000)]
D1['raised_amount_usd'] = D1['raised_amount_usd'].apply(lambda x: x/1000000)
D1['raised_amount_usd'] = D1['raised_amount_usd'].apply(lambda x: round(x,2))

C:\Users\dsharmak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\dsharmak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [179]:
#now calculating counting total no of investment and sum of investment in D1
D1_count_investment_sector = D1.pivot_table(values = 'raised_amount_usd',index = 'main_sector',aggfunc = 'count')
D1_count_investment_sector = D1_count_investment_sector.rename(columns = {'raised_amount_usd' : 'count_investment_sector'})
D1_sum_investment_sector = D1.pivot_table(values =  'raised_amount_usd',index = 'main_sector',aggfunc = 'sum')
D1_sum_investment_sector = D1_sum_investment_sector.rename(columns ={'raised_amount_usd' : 'sum_investment_sector'})

In [180]:
#merging to D1 
D1 = pd.merge(D1,D1_count_investment_sector,how = 'inner',on = 'main_sector')
D1 = pd.merge(D1,D1_sum_investment_sector,how = 'inner', on = 'main_sector')

In [181]:
#creating a new data frame D2 for - United Kingdom
D2 = master_frame.loc[(master_frame.funding_round_type == 'venture') & (master_frame.country_code == 'GBR') &(master_frame.raised_amount_usd >= 5000000) & (master_frame.raised_amount_usd <= 15000000)]
D2['raised_amount_usd'] = D2['raised_amount_usd'].apply(lambda x: x/1000000)
D2['raised_amount_usd'] = D2['raised_amount_usd'].apply(lambda x: round(x,2))

C:\Users\dsharmak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\dsharmak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [182]:
#now calculating sum of investment and no of investment in D2
D2_count_investment_sector = D2.pivot_table(values = 'raised_amount_usd',index = 'main_sector',aggfunc = 'count')
D2_count_investment_sector = D2_count_investment_sector.rename(columns = {'raised_amount_usd' : 'count_investment_sector'})
D2_sum_investment_sector = D2.pivot_table(values =  'raised_amount_usd',index = 'main_sector',aggfunc = 'sum')
D2_sum_investment_sector = D2_sum_investment_sector.rename(columns ={'raised_amount_usd' : 'sum_investment_sector'})

In [183]:
#merging to D2
D2 = pd.merge(D2,D2_count_investment_sector,how = 'inner',on = 'main_sector')
D2 = pd.merge(D2,D2_sum_investment_sector,how = 'inner', on = 'main_sector')

In [184]:
#creating a new data frame D3 for - India
D3 = master_frame.loc[(master_frame.funding_round_type == 'venture') & (master_frame.country_code == 'IND') &(master_frame.raised_amount_usd >= 5000000) & (master_frame.raised_amount_usd <= 15000000)]
D3['raised_amount_usd'] = D3['raised_amount_usd'].apply(lambda x: x/1000000)
D3['raised_amount_usd'] = D3['raised_amount_usd'].apply(lambda x: round(x,2))

C:\Users\dsharmak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\dsharmak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [185]:
#now calculating sum of investment and no of investment in main sectors 
D3_count_investment_sector = D3.pivot_table(values = 'raised_amount_usd',index = 'main_sector',aggfunc = 'count')
D3_count_investment_sector = D3_count_investment_sector.rename(columns = {'raised_amount_usd' : 'count_investment_sector'})
D3_sum_investment_sector = D3.pivot_table(values =  'raised_amount_usd',index = 'main_sector',aggfunc = 'sum')
D3_sum_investment_sector = D3_sum_investment_sector.rename(columns ={'raised_amount_usd' : 'sum_investment_sector'})

In [186]:
#merging to D3
D3 = pd.merge(D3,D3_count_investment_sector,how = 'inner',on = 'main_sector')
D3 = pd.merge(D3,D3_sum_investment_sector,how = 'inner', on = 'main_sector')

In [187]:
#total no.of investment in country1 -C1 in table 5.1
D1_count_investment_sector.sum()

count_investment_sector    12063
dtype: int64

In [188]:
D1_sum_investment_sector.sum()

sum_investment_sector    107757.2
dtype: float64

In [189]:
#total no. of investment in country2
D2_count_investment_sector.sum()

count_investment_sector    621
dtype: int64

In [190]:
#total amount of investment in country 2
D2_sum_investment_sector.sum()

sum_investment_sector    5379.07
dtype: float64

In [191]:
# total no. of investment in country3
D3_count_investment_sector.sum()

count_investment_sector    328
dtype: int64

In [192]:
#total amount of investment in country3
D3_sum_investment_sector.sum()

sum_investment_sector    2949.55
dtype: float64

In [193]:
#top sector no. of investment wise in country1
D1_count_investment_sector.sort_values(by = 'count_investment_sector',ascending = False)

                                         count_investment_sector
main_sector
Others                                                      2950
Social, Finance, Analytics, Advertising                     2714
Cleantech / Semiconductors                                  2350
News, Search and Messaging                                  1583
Health                                                       909
Manufacturing                                                799
Entertainment                                                591
Automotive & Sports                                          167

In [194]:
#top sector no. of investment wise in country2
D2_count_investment_sector.sort_values(by = 'count_investment_sector',ascending = False)

                                         count_investment_sector
main_sector
Others                                                       147
Social, Finance, Analytics, Advertising                      133
Cleantech / Semiconductors                                   130
News, Search and Messaging                                    73
Entertainment                                                 56
Manufacturing                                                 42
Health                                                        24
Automotive & Sports                                           16

In [195]:
#top sector no. of investment wise in country 3
D3_count_investment_sector.sort_values(by = 'count_investment_sector', ascending = False)

                                         count_investment_sector
main_sector
Others                                                       110
Social, Finance, Analytics, Advertising                       60
News, Search and Messaging                                    52
Entertainment                                                 33
Manufacturing                                                 21
Cleantech / Semiconductors                                    20
Health                                                        19
Automotive & Sports                                           13

In [197]:
#company received highest investment in top sector in country1
D1_top_company_investment = D1.loc[(D1['main_sector'] == 'Others')]
D1_top_company_investment = D1_top_company_investment.pivot_table(values = 'raised_amount_usd',index = 'name',aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D1_top_company_investment.head()

                     raised_amount_usd
name
Virtustream                      64.30
Capella Photonics                54.97
AirTight Networks                54.20
deCarta                          52.10
Black Duck Software              51.00

In [198]:
#company received highest investment in top sector country2
D2_top_company_investment = D2.loc[(D2['main_sector'] == 'Others')]
D2_top_company_investment = D2_top_company_investment.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D2_top_company_investment.head()

                         raised_amount_usd
name
Electric Cloud                       37.00
SenSage                              36.25
Enigmatec                            32.50
SilverRail Technologies              29.00
OpenCloud                            27.97

In [199]:
#company received highest investment in top sector country3
D3_top_company_investment = D3.loc[(D3['main_sector'] == 'Others')]
D3_top_company_investment = D3_top_company_investment.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D3_top_company_investment.head()

                   raised_amount_usd
name
FirstCry.com                    39.0
Myntra                          38.0
CommonFloor                     32.9
Pepperfry.com                   28.0
ItzCash Card Ltd.               25.0

In [200]:
#company received highest investment in top  2nd sector country1
D1_top_company_investment_2nd = D1.loc[(D1['main_sector'] == 'Social, Finance, Analytics, Advertising')]
D1_top_company_investment_2nd = D1_top_company_investment_2nd.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D1_top_company_investment_2nd.head()

                                 raised_amount_usd
name
SST Inc. (Formerly ShotSpotter)              67.93
Demandbase                                   63.00
Intacct                                      61.80
NetBase Solutions                            60.60
Lotame                                       59.70

In [202]:
#company received highest investment in top  2nd sector country2
D2_top_company_investment_2nd = D2.loc[(D2['main_sector'] == 'Social, Finance, Analytics, Advertising')]
D2_top_company_investment_2nd = D2_top_company_investment_2nd.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D2_top_company_investment_2nd.head()

                       raised_amount_usd
name
Celltick Technologies              37.50
myThings                           34.00
Zopa                               32.90
VisualDNA                          28.55
MarketInvoice                      25.55

In [203]:
#company received highest investment in top  2nd sector country3
D3_top_company_investment_2nd = D3.loc[(D3['main_sector'] == 'Social, Finance, Analytics, Advertising')]
D3_top_company_investment_2nd = D3_top_company_investment_2nd.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D3_top_company_investment_2nd.head()

                            raised_amount_usd
name
Manthan Systems                         50.70
Komli Media                             28.00
ShopClues.com                           25.00
inTarvo                                 21.90
Grameen Financial Services              21.56